@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --a: 8deg;
}


@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .none {
    display: none;
  }

  .img-hover {
    /* control the angle of rotation (the smaller, the better) */
    aspect-ratio: 1;
    transform: perspective(400px) rotate3d(var(--r, 1, -1), 0, calc(var(--i, 1) * var(--a)));
    mask: linear-gradient(135deg, #000c 40%, #000, #000 60%) 100% 100%/250% 250%;
    transition: 0.7s;
  }

  .img-hover:hover {
    --i: -2;
    mask-position: 0 0;
  }

  .alt {
    --r: 1, 10;
    mask:
      linear-gradient(45deg, #000 40%, #000, #000c 60%) 0 100%/250% 250%;
  }

  .alt:hover {
    mask-position: 100% 0;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7 break-words max-sm:text-base max-sm:leading-7 mt-2 max-sm:mt-6;
  }

  .heading-title {
    @apply capitalize mt-10 font-palanquin text-8xl max-md:text-2xl font-bold max-sm:text-4xl max-sm:leading-none;
  }

}